.icobox{
	position: absolute;
	margin: 0;
	padding: 0;
	right: 1em;
	margin-top: 1em;
	list-style: none;
}

.show-box {
	margin-left: 0.5em;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 100%;
	display: inline-block;
	vertical-align: top;
	position: relative;
	cursor: pointer;
	text-align: center;
	z-index: 1;
	color: #c7dde1;
	transition: all 0.3s;
}

.show-box:before {
	box-sizing: border-box;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	height: 40px;
	width: 40px;
	border: 1px solid #557b83;
	border: 1px solid var(--movie-color, #557b83);
	border-radius: 100%;
	margin: -20px 0 0 -20px;
	z-index: -1;
	transition: border-width .6s cubic-bezier(.19, 1, .22, 1);
}
.show-box:hover{
	transform: translate(0, -5px);
	-webkit-transform: translate(0, -5px);
	-moz-transform: translate(0, -5px);
	-o-transform: translate(0, -5px);
	-ms-transform: translate(0, -5px);
	color: #fff;
	background-color: #1e282e;
}

@media screen and (max-width: 680px) {
	.music_nav{
		display: none;
	}
}
